#wheelDiv{
  top: 2vh;
  height: 90vh;
  position: fixed;
  z-index: 2147483630;
  overflow: visible;

}

#foo{
  border: none;
  background: none;
  color: #f2f2f2;
  text-align: center;
  font-size: 1.8em;
  padding-bottom: 1em;
  height: 3.5em;
  width: 3.5em;
  background-color: #0099cc;
  position: fixed;
  left: 50%;
  margin-left: -1.75em;
  bottom: -1.75em;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2147483630;
  visibility: visible;
}

.cn-button:hover,
.cn-button:active,
.cn-button:focus {
  color: #007399
;
}

.cn-button {
    font-size: 1em;
    font-style: normal !important;
  }



.notVisible{
  /*display: none !important;*/
  visibility: hidden;
}

.w3-button{
    width: 80px;
    height: 80px;
    position: fixed;
    z-index: 2147483632;
}


#wrapperOpacity{
width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.6);
position: fixed;
top: 0;
left: 0;
bottom: 0;
right: 0;
opacity: 0.3;
-webkit-transition: all .3s ease;
-moz-transition: all .3s ease;
transition: all .3s ease;
z-index: 2147483610;
}
